p {
  color: red;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-flow: column;
  margin: auto;
  height: 700px;
}

.landing {
  display: flex;
  flex-flow: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid green;
}

.front-page-nav {
  display: flex;
  list-style-type: none;
}

.front-page-nav > * {
  margin: 0 50px;
}

a {
  text-decoration: none;
  color: white;
}

.menu-bar {
  border: 1px solid blue;
  color: white;
}
